##<center>__Самостійні завдання__</center>

> Скопіювати блок самостійних завдань в окремий файл ***LastName_CP11.ipynb***

> Інсталюйте необхідні пакети бібліотек Python

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from math import sqrt

In [ ]:
FOLDER_PATH = "./drive/MyDrive/ColabData/Pract10_RecomedSystems/"

### Завдання №1

* Завантажте архів `BX-CSV-Dump.zip` та розпакуйте дані з лінку

`url = "http://www2.informatik.uni-freiburg.de/~cziegler/BX/BX-CSV-Dump.zip"`

* Завантажте датасети `BX-Books.csv` як `df.books` та `BX-Book-Ratings.csv` як `df.ratings`, виведіть частину датасетів на екран

Використайте ці дані, щоб побудувати систему рекомендацій, яка підкаже, що користувачеві варто прочитати наступним, виходячи з його поточних книжкових уподобань.

In [ ]:
books_df = pd.read_csv(FOLDER_PATH + 'BX-Books.csv', encoding='WINDOWS-1252', delimiter=";", on_bad_lines='skip')
ratings_df = pd.read_csv(FOLDER_PATH + 'BX-Book-Ratings.csv', encoding='WINDOWS-1252', delimiter=";", on_bad_lines='skip')

<ipython-input-4-8b6af7c8d263>:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books_df = pd.read_csv(FOLDER_PATH + 'BX-Books.csv', encoding='WINDOWS-1252', delimiter=";", on_bad_lines='skip')

In [ ]:
# books_df = books_df.head(60000).copy()
# ratings_df = ratings_df.head(60000).copy()

In [ ]:
books_df.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [ ]:
ratings_df.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

### Завдання №2

* Виведіть інформацію про датасет
* Залиште в датасеті лише колонки `ISBN`, `Book Title`,`Book Author` and `Publisher`.
* Перевірте, чи немає дублікатів назв книг, видаліть, якщо такі є. Для цього скористайтесь функціями `duplicated(subset='Book-Title')`  та `drop_duplicates(subset='Book-Title')`
* Об'єднайте імена та прізвища авторів, видаляючи пробіли, щоб система розрізняла авторів з однаковими іменами
* Виведіть шапку таблиці, щоб переконатись у об'єднанні

In [ ]:
books_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271360 entries, 0 to 271359
Data columns (total 8 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ISBN                 271360 non-null  object
 1   Book-Title           271360 non-null  object
 2   Book-Author          271359 non-null  object
 3   Year-Of-Publication  271360 non-null  object
 4   Publisher            271358 non-null  object
 5   Image-URL-S          271360 non-null  object
 6   Image-URL-M          271360 non-null  object
 7   Image-URL-L          271357 non-null  object
dtypes: object(8)
memory usage: 16.6+ MB

In [ ]:
books_df = books_df[["ISBN", "Book-Title", "Book-Author", "Publisher"]].copy()

In [ ]:
books_df.duplicated(subset="Book-Title")

0         False
1         False
2         False
3         False
4         False
          ...
271355     True
271356    False
271357    False
271358    False
271359    False
Length: 271360, dtype: bool

In [ ]:
books_df.drop_duplicates(subset="Book-Title", inplace=True)

In [ ]:
books_df["Book-Author"] = books_df["Book-Author"].str.lower()

In [ ]:
books_df["Book-Author"] = books_df["Book-Author"].str.replace(" ", "")

In [ ]:
books_df.head()

,ISBN,Book-Title,Book-Author,Publisher
0,0195153448,Classical Mythology,markp.o.morford,Oxford University Press
1,0002005018,Clara Callan,richardbrucewright,HarperFlamingo Canada
2,0060973129,Decision in Normandy,carlod'este,HarperPerennial
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,ginabarikolata,Farrar Straus Giroux
4,0393045218,The Mummies of Urumchi,e.j.w.barber,W. W. Norton &amp; Company

In [ ]:
# encoded_books_df = pd.get_dummies(books_df, columns=["Book-Author", "Publisher"])

In [ ]:
# encoded_books_df.head()

### Завдання №3

* Створіть користувача, якому поставте у відповідність 5 довільних кних з переліку та рейтингом (0-10)
* Створіть рекомендований список з 10 книг для користувача, спираючись на автора та видавництво.

In [ ]:
userInput = [
            {'Book-Title': 'Recollections of Socrates (Library of Liberal Arts)', 'Book-Rating': 10},
            {'Book-Title': 'The Unbearable Lightness of Being', 'Book-Rating': 6},
            {'Book-Title': 'The Family Mashber', 'Book-Rating': 9},
            {'Book-Title': 'No Naughty Cats', 'Book-Rating': 5},
            {'Book-Title': 'A Gift of Wings', 'Book-Rating': 6},
            {'Book-Title': 'Western Forests (Audubon Society Nature Guides)', 'Book-Rating': 5},
            {'Book-Title': 'Letters from Cicely', 'Book-Rating': 4},
            {'Book-Title': 'Midnight In the Garden of Good and Evil', 'Book-Rating': 8},
            {'Book-Title': 'An English-Persian Dictionary', 'Book-Rating': 9},
            {'Book-Title': 'Real Sex: Titillating but True Tales of Bizarre Fetishes, Strange Compulsions, and Just Plain Weird Stuff', 'Book-Rating': 6},
            {'Book-Title': 'The titanss', 'Book-Rating': 3},
            {'Book-Title': 'Leave It to Christy', 'Book-Rating': 4},
            {'Book-Title': 'Black Unicorn 2', 'Book-Rating': 10},

         ]
inputBooks = pd.DataFrame(userInput)
inputBooks

                                           Book-Title  Book-Rating
0   Recollections of Socrates (Library of Liberal ...           10
1                   The Unbearable Lightness of Being            6
2                                  The Family Mashber            9
3                                     No Naughty Cats            5
4                                     A Gift of Wings            6
5     Western Forests (Audubon Society Nature Guides)            5
6                                 Letters from Cicely            4
7             Midnight In the Garden of Good and Evil            8
8                       An English-Persian Dictionary            9
9   Real Sex: Titillating but True Tales of Bizarr...            6
10                                        The titanss            3
11                                Leave It to Christy            4
12                                    Black Unicorn 2           10

In [ ]:
inputId = books_df[books_df['Book-Title'].isin(inputBooks['Book-Title'].tolist())]
inputBooks = pd.merge(inputId, inputBooks)
inputBooks

,ISBN,Book-Title,Book-Author,Publisher,Book-Rating
0,0060914653,The Unbearable Lightness of Being,milankundera,Harpercollins,6
1,0440204321,A Gift of Wings,richardbach,Dell,6
2,0671777351,Letters from Cicely,ellisweiner,Pocket,4
3,0099521016,Midnight In the Garden of Good and Evil,johnberendt,Vintage Books,8
4,0936347953,An English-Persian Dictionary,dariushgilani,Ibex Publishers,9
5,0399214828,Leave It to Christy,pamelacurtisswallow,Putnam Pub Group,4
6,0452281512,Real Sex: Titillating but True Tales of Bizarr...,johnj.kohut,Plume Books,6
7,0708835872,Black Unicorn 2,terrybrooks,Futura Publishing Co Inc,10
8,0394731271,Western Forests (Audubon Society Nature Guides),stephenwhitney,Random House Inc,5
9,0023080108,Recollections of Socrates (Library of Liberal ...,xenophon,Prentice Hall,10
10,000223257X,The Family Mashber,dernister,HarperCollins Publishers,9
11,0517162008,No Naughty Cats,debrapirotin,Random House Value Pub,5

In [ ]:
userBooks = books_df[books_df['ISBN'].isin(inputBooks['ISBN'].tolist())]
userBooks

,ISBN,Book-Title,Book-Author,Publisher
1055,0060914653,The Unbearable Lightness of Being,milankundera,Harpercollins
2484,0440204321,A Gift of Wings,richardbach,Dell
2497,0671777351,Letters from Cicely,ellisweiner,Pocket
5022,0099521016,Midnight In the Garden of Good and Evil,johnberendt,Vintage Books
29081,0936347953,An English-Persian Dictionary,dariushgilani,Ibex Publishers
36816,0399214828,Leave It to Christy,pamelacurtisswallow,Putnam Pub Group
44515,0452281512,Real Sex: Titillating but True Tales of Bizarr...,johnj.kohut,Plume Books
44753,0708835872,Black Unicorn 2,terrybrooks,Futura Publishing Co Inc
45506,0394731271,Western Forests (Audubon Society Nature Guides),stephenwhitney,Random House Inc
45646,0023080108,Recollections of Socrates (Library of Liberal ...,xenophon,Prentice Hall
57679,000223257X,The Family Mashber,dernister,HarperCollins Publishers
59693,0517162008,No Naughty Cats,debrapirotin,Random House Value Pub

In [ ]:
#Фільтрування інших користувачів, які переглядали фільми, зі списку цільового користувача та їх зберігання
userSubset = ratings_df[ratings_df['ISBN'].isin(inputBooks['ISBN'].tolist())]
userSubset

         User-ID        ISBN  Book-Rating
11522        769  0060914653           10
14082       2030  0440204321           10
14092       2030  0671777351           10
21449       4208  0099521016            6
28479       6575  0440204321            0
...          ...         ...          ...
1116335   267937  0099521016            8
1126900   270352  0060914653            0
1137302   273813  0060914653            6
1139852   274111  0440204321            9
1146325   275970  0060914653            0

[142 rows x 3 columns]

In [ ]:
userSubsetGroup = userSubset.groupby(['User-ID'])

In [ ]:
userSubsetGroup.get_group(267937)

         User-ID        ISBN  Book-Rating
1116335   267937  0099521016            8

In [ ]:
userSubsetGroup = sorted(userSubsetGroup,  key=lambda x: len(x[1]), reverse=True)

<ipython-input-23-ae49e3b4ec1e>:1: FutureWarning: In a future version of pandas, a length 1 tuple will be returned when iterating over a groupby with a grouper equal to a list of length 1. Don't supply a list with a single grouper to avoid this warning.
  userSubsetGroup = sorted(userSubsetGroup,  key=lambda x: len(x[1]), reverse=True)

In [ ]:
#Зберігаємо кореляцію Пірсона у словнику, де ключем є ідентифікатор користувача, а значенням - коефіцієнт
pearsonCorrelationDict = {}

#Для кожної групи користувачів у нашій підмножині
for name, group in userSubsetGroup:
    #Почнемо з сортування вхідних даних та поточної групи користувачів, щоб не переплутати значення
    group = group.sort_values(by='ISBN')
    inputBooks = inputBooks.sort_values(by='ISBN')
    #Отримаємо N для формули
    nRatings = len(group)
    #Отримаємо оцінки на фільми, які мають спільні риси
    temp_df = inputBooks[inputBooks['ISBN'].isin(group['ISBN'].tolist())]
    #Збережемо їх у тимчасовій буферній змінній у форматі списку, щоб полегшити майбутні обчислення
    tempRatingList = temp_df['Book-Rating'].tolist()
    #Виведемо оцінки поточної групи користувачів у вигляді списку
    tempGroupList = group['Book-Rating'].tolist()
    #Обчислимо кореляцію Пірсона між двома користувачами, так званими, x та y
    Sxx = sum([i**2 for i in tempRatingList]) - pow(sum(tempRatingList),2)/float(nRatings)
    Syy = sum([i**2 for i in tempGroupList]) - pow(sum(tempGroupList),2)/float(nRatings)
    Sxy = sum( i*j for i, j in zip(tempRatingList, tempGroupList)) - sum(tempRatingList)*sum(tempGroupList)/float(nRatings)
    #Якщо знаменник відмінний від нуля, то ділимо, інакше кореляція 0.
    if Sxx != 0 and Syy != 0:
        pearsonCorrelationDict[name] = Sxy/sqrt(Sxx*Syy)
    else:
        pearsonCorrelationDict[name] = 0

In [ ]:
pearsonCorrelationDict.items()

dict_items([(2030, 0), (11676, 0), (60244, 0), (172742, 0), (232131, 0), (769, 0), (4208, 0), (6575, 0), (7346, 0), (11685, 0), (12100, 0), (12238, 0), (14387, 0), (16106, 0), (17340, 0), (20115, 0), (21952, 0), (23238, 0), (24921, 0), (25048, 0), (25533, 0), (25601, 0), (25604, 0), (25981, 0), (30511, 0), (30515, 0), (31315, 0), (31436, 0), (32085, 0), (37950, 0), (40012, 0), (43246, 0), (48087, 0), (53456, 0), (55075, 0), (56399, 0), (57108, 0), (58011, 0), (62805, 0), (65844, 0), (73394, 0), (75595, 0), (76352, 0), (78783, 0), (81274, 0), (81771, 0), (84109, 0), (86189, 0), (86202, 0), (87555, 0), (88446, 0), (91491, 0), (93179, 0), (94242, 0), (94540, 0), (96440, 0), (98741, 0), (98787, 0), (103261, 0), (103265, 0), (103569, 0), (104505, 0), (105517, 0), (106893, 0), (108352, 0), (109896, 0), (111174, 0), (114128, 0), (115490, 0), (119398, 0), (119654, 0), (120137, 0), (120579, 0), (121933, 0), (123320, 0), (124066, 0), (124888, 0), (126156, 0), (134483, 0), (147686, 0), (149690, 0), (151854, 0), (152409, 0), (153662, 0), (158254, 0), (163534, 0), (170469, 0), (174596, 0), (174815, 0), (175101, 0), (176639, 0), (183923, 0), (185233, 0), (187425, 0), (187904, 0), (191277, 0), (191685, 0), (192211, 0), (192960, 0), (196146, 0), (196821, 0), (197000, 0), (197502, 0), (198170, 0), (201042, 0), (201526, 0), (207825, 0), (210816, 0), (216829, 0), (219631, 0), (220240, 0), (220524, 0), (223927, 0), (225986, 0), (226394, 0), (230878, 0), (231857, 0), (232777, 0), (233256, 0), (234597, 0), (238120, 0), (246617, 0), (246655, 0), (246798, 0), (250510, 0), (258520, 0), (259004, 0), (263163, 0), (264317, 0), (264972, 0), (265834, 0), (267184, 0), (267937, 0), (270352, 0), (273813, 0), (274111, 0), (275970, 0)])

In [ ]:
pearsonDF = pd.DataFrame.from_dict(pearsonCorrelationDict, orient='index')
pearsonDF.columns = ['similarityIndex']
pearsonDF['User-ID'] = pearsonDF.index
pearsonDF.index = range(len(pearsonDF))
pearsonDF.head()

   similarityIndex  User-ID
0                0     2030
1                0    11676
2                0    60244
3                0   172742
4                0   232131

In [ ]:
topUsers=pearsonDF.sort_values(by='similarityIndex', ascending=False)[0:50]
topUsers.head()

    similarityIndex  User-ID
0                 0     2030
94                0   187904
88                0   174815
89                0   175101
90                0   176639

In [ ]:
topUsersRating=topUsers.merge(ratings_df, left_on='User-ID', right_on='User-ID', how='inner')
topUsersRating.head()

   similarityIndex  User-ID        ISBN  Book-Rating
0                0     2030  0060191988           10
1                0     2030  0062500287           10
2                0     2030  0062502174           10
3                0     2030  0062507567           10
4                0     2030  0062508482           10

In [ ]:
topUsersRating['weightedRating'] = topUsersRating['similarityIndex']*topUsersRating['Book-Rating']
topUsersRating.head()

   similarityIndex  User-ID        ISBN  Book-Rating  weightedRating
0                0     2030  0060191988           10               0
1                0     2030  0062500287           10               0
2                0     2030  0062502174           10               0
3                0     2030  0062507567           10               0
4                0     2030  0062508482           10               0

In [ ]:
tempTopUsersRating = topUsersRating.groupby('ISBN').sum()[['similarityIndex','weightedRating']]
tempTopUsersRating.columns = ['sum_similarityIndex','sum_weightedRating']
tempTopUsersRating.head()

            sum_similarityIndex  sum_weightedRating
ISBN
0001855018                    0                   0
0002154064                    0                   0
0002198274                    0                   0
0002241447                    0                   0
0002245841                    0                   0

In [ ]:
recommendation_df = pd.DataFrame()
recommendation_df['weighted average recommendation score'] = tempTopUsersRating['sum_weightedRating']/tempTopUsersRating['sum_similarityIndex']
recommendation_df['ISBN'] = tempTopUsersRating.index
recommendation_df.head()

            weighted average recommendation score        ISBN
ISBN
0001855018                                    NaN  0001855018
0002154064                                    NaN  0002154064
0002198274                                    NaN  0002198274
0002241447                                    NaN  0002241447
0002245841                                    NaN  0002245841

In [ ]:
recommendation_df = recommendation_df.sort_values(by='weighted average recommendation score', ascending=False)
recommendation_df

            weighted average recommendation score        ISBN
ISBN
0001855018                                    NaN  0001855018
0002154064                                    NaN  0002154064
0002198274                                    NaN  0002198274
0002241447                                    NaN  0002241447
0002245841                                    NaN  0002245841
...                                           ...         ...
998675741X                                    NaN  998675741X
B000023VWY                                    NaN  B000023VWY
B000234N76                                    NaN  B000234N76
CN102273                                      NaN    CN102273
CN108081                                      NaN    CN108081

[11194 rows x 2 columns]

In [ ]:
books_df.loc[books_df['ISBN'].isin(recommendation_df.head(10)['ISBN'].tolist())]

,ISBN,Book-Title,Book-Author,Publisher
26760,0002251760,The Forgetting Room: A Fiction (Byzantium Book),nickbantock,Harpercollins
32778,0006157629,4:50 From Paddington,agathachristie,HarperCollins Publishers
51851,0002198274,The first Eden: The Mediterranean world and man,davidattenborough,BBC Books
179527,0002555107,Age of Kali Travels and Encounters In Indi,williamdalrymple,Harpercollins Uk
226139,0002154064,All My Road Before Me: The Diary of C.S.Lewis ...,c.s.lewis,HarperCollins Publishers